@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Neue Machina';
  src: url("./assets/fonts/NeueMachina-Light.otf");
}
.ff_machina{
  font-family: "Neue Machina";
}
.ff_Raleway{
  font-family: "Raleway";
}
.ff_Inter{
  font-family: "Inter";
}
.ff_Jakarta{
  font-family:"Plus Jakarta Sans" ;
}
.fs_12{
  font-size: 12px;
}
.fs_14{
  font-size: 13px;
}
.fs_16{
  font-size: 13px;
}
.fonts_16{
  font-size: 11px;
}
.fs_18{
  font-size: 18px;
}
.font_18{
  font-size: 18px;
}
.fs_20{
  font-size: 20px;
}
.fs_22{
  font-size: 22px;
}
.fs_24{
  font-size: 21px;
}
.fs_28{
  font-size: 25px;
}
.fs_36{
  font-size: 36px;
}
.fs_38{
  font-size: 38px;
}
.fs_46{
  font-size: 36px;
}
.fw_400{
  font-weight: 400;
}
.font_16{
  font-size: 16px;
}
.fw_500{
  font-weight: 500;
}
.fw_600{
  font-weight: 600;
}
.fs_52{
  font-size: 42px;
}
.fs_85{
  font-size: 66px;
}
.fw_700{
  font-weight: 700;
}
.fw_800{
  font-weight: 800;
}
.txt_clr_1{
  color: #cfd4e4;
}
.txt_clr_2{
  color: #cfd5e5;
}
.txt_clr_3{
  color: #cfd6e2;
}
.txt_clr_4{
  color: #4878ff;
}
.txt_clr_5{
  color: #8496b6;
}
.txt_clr_6{
  color: #1643c3;
}
.txt_clr_7{
  color: #cfcfcf;
}
.txt_clr_8{
  color: #d4e3f9;
}
.txt_clr_9{
  color: #4d4d4d;
}
.txt_clr_9:hover{
  color: black;
}
.txt_clr_10{
  color: #4a4a4a;
}
.line_2{
  width: 100%;
  height: 3px;
  border-radius: 18px;
  background: #3b5688;
}
.bcg_hero{
  background-image: url("./assets/img/hero-bg.png");
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcg_section_3{
  background-image: url("./assets/img/sampl.png");
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcg_team{
  background-image: linear-gradient(360deg, #fff 80%, #ffffff34 24%), url('./assets/img/bcg_team.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcg_road{
  background-image: url("assets/img/Frame3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcg_total{
  background-image: url("./assets/img/Frame3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcg_future{
  background-image: url("./assets/img/Frame6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcg_form{
  background-image: url("./assets/img/Frame4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bttn_enter{
  padding: 15px 40px;
  border-radius: 8px;
  color: #1743c0;
  background-color: transparent;
  border: 1px solid var(--Blue, #1643C3);
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.txt_clr{
  color: #1643C3;
}
.btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: transparent !important;
  border-color: transparent !important;
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: 0;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color:transparent !important;
  --bs-btn-active-shadow: 0;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color:transparent !important;
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: transparent !important;
}
.ml_100{
  margin-left: 117px;
}
.hero_img{
    transform: translate(-1% ,6%) !important;
}
.linee::after{
  position: absolute;
  content: "";
  width: 53%;
  left: 24%;
  height: 2px;
  bottom: 0;
  background-color: #ffffff;
  transition: all 300ms linear !important;
}
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
.img_cloud{
  z-index: 2;
  position: absolute;
  bottom: -5%;
}
.card_1{
  width: 100%;
  height: 491px;
  border-radius: 12px;
  border: 1px solid #1643C3;
  padding: 19px 17px;
  background: linear-gradient(124deg, rgba(19, 245, 255, 0.25) 7.19%, rgba(0, 66, 255, 0.00) 93.2%);
  backdrop-filter: blur(12.5px);
}
.bttn_in{
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  background: rgba(108, 103, 241, 0.20);
}
.card{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.card_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.card_body{
  width: 100%;
  height: 100%;
  top: 0;
  /* right: -100%; */
  opacity: 0;
  position: absolute;
  background: linear-gradient(170deg, #1643C3 0.65%, #000 139.04%), linear-gradient(176deg, #3965E4 10.14%, #0C1F53 120.71%);
  box-shadow: 0px 5px 23px 0px rgba(22, 67, 195, 0.24);
  backdrop-filter: blur(49.5px);
  border-radius: 8px;
  color: #fff;
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
}
.card_title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}
.card_subtitle{
  font-size: 16px;
  font-weight: 400;
  color: #cfd4e4;
  margin-top: 17px;
}
.card_info{
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}
.card:hover .card_body{
  opacity: 5;
}
.card_5{
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14.5px);
  padding: 10px 25px 10px 25px; 
}
.card_6{
  border-radius: 5.75px;
  border: 0.958px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(9.5px);
  padding: 5px 5px 5px 5px;
  width: 80px;
  height: 80px;
}
.card_7{
  border-radius: 47.058px;
  border: 1.272px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(15.89805793762207px);
  padding: 3px 8px 3px 5px;
}
.txt_pstn{
  position: absolute;
  top: 3%;
  left: 5%;
}
.img_pstn{
  position: absolute;
  right: 3%;
  top: 3%; 
}
.img_width{
  border-radius: 5px;
  height: 68px;
  width: 70px;
}
.txt_crd{
  position: absolute;
  bottom: 14%;
  left: 5%;
}
.crd_pstn{
  position: absolute;
  bottom: 3%;
  left: 5%;
}
.hover_img{
  width: 300px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}
.hover_img_1{
  width: 312px;
  height: 150px;
  border-radius: 8px;
  object-position: 100% 0%;
  object-fit: cover;
}
.hover_img_2{
  width: 312px;
  height: 150px;
  border-radius: 8px;
  object-position: 80% 35%;
  object-fit: cover;
}
.hover_img_3 {
  width: 312px;
  height: 150px;
  border-radius: 8px;
  object-position: 100% 0%;
  object-fit: cover;
}
.img_shdw{
  width: 23%;
  border-radius: 4.847px;
  border: 1.97px solid rgba(22, 67, 195, 0.30);
  box-shadow: 0px 3.8778px 9.6945px 0px rgba(22, 67, 195, 0.21);
}
.col_gradieant{
  background: linear-gradient(76deg, #1643C3 5.09%, #369EFE 88.75%);
  box-shadow: 0px 17px 29px 0px rgba(21, 64, 186, 0.17);
  backdrop-filter: blur(9.5px);
}
.bttn_view{
  background: linear-gradient(93deg, #1643C3 10.24%, #369EFE 208.68%);
  padding: 17px 16px;
  border: none;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.custom-width{
  max-width: 350px;
}  
.custom-width-1{
  max-width: 1000px;
} 

.link_Scale {
  transition: all 300ms linear;
}

.link_Scale:hover {
  scale: 1.05;
}

.bcg_graph{
  background-image: url("./assets/img/graf-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.foter_line{
  width: 100%;
  height: 43px;
  background: rgba(0, 0, 0, 0.04);
}
.card_2{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #FFF;
  padding: 12px 12px;
  box-shadow: 0px 4px 44px 5px rgba(0, 0, 0, 0.08);
}
.padding_text{
  padding-top: 22%;
}
.bttn_more{
  border-radius: 8px;
  border: 1px solid var(--Blue, #1643C3);
  padding: 25px 31px;
  background-color: transparent;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.timeline {
  position: relative;
  width: 100%;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #4273ff;
  top: 1px;
  bottom: 0;
  left: 10px;
  margin-left: -3px;
}
.timelinecontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.timelinecontainer.left::after {
  content: url("./assets/img/icon_2.png");
  position: absolute;
  right: 85.8%;
  transform: rotate(180deg);
  top: -5%;
  border-radius: 50%;
  z-index: 1;
}
.timelinecontainer.right::after {
  content: url("./assets/img/icon_1.png");
  position: absolute;
  right: -12px;
  top: -3%;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.right::after {
  left: -5px;
}
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--Blue, #1643c3);
  background: rgba(22, 67, 195, 0.1);
}
.box_1{
  display: flex;
width: 100%;
height: 145.583px;
padding: 0px 44.348px 0px 44px;
justify-content: center;
align-items: center;
border-radius: 12.132px;
border: 1.213px solid #C3D3FF;
background: linear-gradient(93deg, #1643C3 10.24%, #369EFE 208.68%);
cursor: pointer;
transition: all 700ms ease-in-out;
}
.box_1:hover{
  background: linear-gradient(93deg, black, #369EFE 108.68%);
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
}
.line_bottom{
  width: 100%;
  height: 1px;
  background: #345CCB;
}
input{
  background-color:transparent !important ;
  border: unset;
  color: white;
  outline: unset;
}
input::placeholder{
  color: white;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "Raleway" !important;
}
.txt_tnpt{
    width: 46%;
    padding: 24px 0;
    border-bottom: 1px solid #a7c3f1 !important;
}
.txt_tnpt_1{
  width: 46%;
  padding: 24px 0;
  border-bottom: 1px solid #a7c3f1 !important;
}
textarea{
  resize: none !important;
  color: white !important;
  outline: none !important;
}
textarea::placeholder{
  color:  white;
  font-style: 16px ;
  font-weight: 400;
  font-family: "Raleway" !important;
}
.text-area{
  padding: 40px 0;
  width: 100%;
  border-bottom: 1px solid #a7c3f1 !important;
  background-color: transparent;
  border: none;
  resize: none; 
}
.icn{
  cursor: pointer;
}
.bttn_sub{
  border-radius: 8px;
  background: linear-gradient(93deg, #1643C3 10.28%, #369EFE 96.25%), linear-gradient(179deg, #1643C3 0.63%, #000 175.69%);
  padding: 15px 35px;
  border: none;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.slick-dots li button:before{
  content: unset !important;
}
.slick-dots li{
  width: 17px !important;
  height: 7px !important;
  border-radius: 23px !important;
  opacity: 0.3 !important;
  background: #D9D9D9 !important;
}
.slick-dots li.slick-active{
  width: 51px !important;
  height: 7px !important;
  border-radius: 23px !important;
  opacity: 2 !important;
  background: #D9D9D9 !important;
}
.min-100{
  min-height: 0vh;
}
.open{
  border: none;
  z-index: 110 !important;
  display: flex;
  background-color: transparent !important;
}
ol, ul {
  padding-left: 0 !important;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
nav ul{
  display:flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.overflow_sm_table{
  width: 700px;
}
.scroll_bttn::-webkit-scrollbar{
  display: none;
}
.bttn_enter:hover {
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
}
.bttn_view:hover{
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
}
.bttn_sub:hover{
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
}
.bttn_more:hover{
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
  border: 1px solid transparent;
}
.dot_img{
  display: none;
}
.txt_total{
  font-variant-numeric: lining-nums proportional-nums;
}
.d_block{
  display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@media (max-width:1198px) {
  .nav-btn {
    display: inline-flex;
    padding: 12px 31px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    background: transparent;
    transition: all 500ms ease-in-out;
    z-index: 9;
  }
  .nav-btn:hover {
    color: white;
    border: 1px solid transparent;
    background: linear-gradient(93deg, #1643C3 10.28%, #369EFE 96.25%), linear-gradient(179deg, #1643C3 0.63%, #000 175.69%);
  }
  nav ul {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(52px) !important;
    z-index: 1000 !important;
    transition: all 500ms linear;
    overflow: hidden;
  }
  nav ul.open {
    display: flex;
    right: 0;
  }
}
@media (min-width:576px) {
  .card_5{
    padding: 8px 15px 8px 15px; 
  }
  .linee::after {
    width: 36%;
    left: 32%;
}
.min-100{
  min-height: 12vh;
}
  .card_6{
    width: 60px;
    height: 60px;
  }
  .custom-width {
    max-width: 515px;
}
.img_cloud {
  bottom: -7%;
}
.timelinecontainer.left::after {
  right: 90.5%;
  top: -5%;
}
.hover_img {
  height: 50px;
  width: 200px;
}
  .img_width{
    border-radius: 5px;
    height: 50px;
    width: 50px;
  }
  .txt_crd{
    bottom: 16%;
  }
  .hover_img_1{
    width: 200px;
    height: 50px;
  }
  .hover_img_2{
    height: 50px;
    width: 200px;
  }
  .hover_img_3 {
    width: 200px;
    height: 50px;
}
  .card_title{
    font-size: 14px;
    margin-top: 3px;
}
.card_subtitle{
  font-size: 13px;
  margin-top: 3px;
}
.card_info{
  font-size: 13px;
  margin-top: 2px;
}
}
@media (min-width:768px) {
  .linee::after {
    width: 26%;
    left: 37%;
}
.bttn_enter{
  color: #fff;
  border: 1px solid white;
}
.overflow_sm_table{
  width: 690px;
}
.bcg_section_3{
  background-image: url("./assets/img/sampl.png");
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_cloud {
  z-index: 2;
  position: absolute;
  bottom: -7%;
}
  .custom-width {
    max-width: 710px;
}
  .min-100{
    min-height: 60vh;
  }
  .fs_85 {
    font-size: 70px;
}
.fs_16 {
  font-size: 14px;
}
.fonts_16 {
  font-size: 16px;
}
.fs_24 {
  font-size: 23px;
}
.fs_46 {
  font-size: 46px;
}
.fs_14 {
  font-size: 14px;
}
.hover_img {
  height: 115px;
}
.hover_img_1 {
  width: 297px;
  height: 115px;
}
.hover_img_2 {
  height: 115px;
}
.hover_img_3 {
  width: 300px;
  height: 115px;
}
.card_title {
  font-size: 24px;
  margin-top: 21px;
}
.card_subtitle {
  font-size: 16px;
  margin-top: 17px;
}
.card_info {
  font-size: 16px;
  margin-top: 17px;
}
  .bcg_section_2{
    background-image: url("./assets/img/bullbear.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right {
    right: -50%;
  }
  .timelinecontainer {
    width: 50%;
  }
  .timeline::after {
    left: 50%;
  }
  .timelinecontainer.left::after {
    content: url("./assets/img/icon_2.png");
    position: absolute;
    right: -3.3%;
    top: -2%;
    transform: rotate(0deg);
    top: -2%;
    border-radius: 50%;
    z-index: 1;
  }
  .right::after {
    left: -14px;
}
  .bcg_team{
    background-image: linear-gradient(360deg, #fff 24%, #ffffff34 24%), url('./assets/img/bcg_team.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width:992px) {
  .d_block{
    display: block;
  }
  .d_img{
    display: none;
  }
  .fs_85 {
    font-size: 85px;
}
  .my_width{
    width: 50%;
  }
  .hover_img {
    height: 303px;
}
.overflow_sm_table{
  width: 920px;
}
.linee::after {
  width: 20%;
  left: 40%;
}
.img_cloud {
  bottom: -10%;
}
.custom-width {
  max-width: 442px;
}
.hover_img_1{
  height: 303px;
}
.hover_img_2{
  height: 303px;
}
.hover_img_3{
  height: 303px;
}
.timelinecontainer.left::after {
  right: -2.3%;
}
}
@media (min-width:1024px) {
  .fs_16 {
    font-size: 16px;
}
.fs_24 {
  font-size: 24px;
}
.img_cloud {
  bottom: -8%;
}
.min-100{
  min-height: 60vh;
}
}
@media (min-width:1199px) {
  .d_none{
    display: none;
  }
  .dot_img{
    display: block;
    right: 2%;
    top: 10%;
  }
  .my_container{
    max-width: 1140px !important;
  }
  .min_vh_100{
    min-height: 100vh;
  }
  .min-100{
    min-height: 80vh;
  }
  .bcg_section_3{
    background-position: 70%;
  }
  .fs_52{
    font-size: 30px;
  }
  .bttn_enter{
    color: #1743c0;
    border: 1px solid #1743c0;
  }
  .bcg_hero{
    background-image: url("./assets/img/hero-bg.png");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fs_28 {
    font-size: 28px;
}
  .linee::after {
    width: 33%;
    left: 0%;
}
.overflow_sm_table{
  width: 100%;
}
.hover_img {
  height: 140px;
}
.hover_img_1 {
  height: 140px;
}
.hover_img_2 {
  height: 140px;
}
.hover_img_2 {
  height: 140px;
}
.hover_img_3 {
  height: 140px;
}
.padding_text {
  padding-top: 15%;
}
.timelinecontainer.left::after {
  right: -1.9%;
  top: -2%;
} 
.img_cloud {
  bottom: -9%;
}
.custom-width {
  max-width: 520px;
}
.hero_img {
  transform: translate(-5% ,-3%) !important;
}
}
@media (min-width:1320px) {
  .min-100{
    min-height: 90vh;
  }
  .img_cloud {
    bottom: -12%;
}
.bcg_section_3{
  background-position: 100%;
}
.min_vh_100 {
  min-height: 122vh;
}
}
@media (min-width:1440px) {
  .hero_img {
    transform: translate(-5% ,-7%) !important;
}
.custom-width {
  max-width: 446px;
}
.min_vh_100 {
  min-height: 110vh;
}
.fs_52{
  font-size: 52px;
}
}
@media (min-width:1920px) {
  .min_vh_100 {
    min-height: 95vh;
}
}